  
            .fullname{
            text-align:center;
            color:black
            }
            
            .section-title{
                background-color:#ccc;
                padding:10px
                    
            }
            
            .sectopm=p{
                margin-left:20px
                    
            }
      